html, body {
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
}

#APP {
  height: 100%;
}

[data-action] {
  cursor: pointer;
}

a[role=tab] {
  cursor: pointer;
}

.facebook-share {
  margin-bottom: 10px;
}

.facebook-share>span {
  font-size: 15px;
}